@model List<ZealTravel.Backoffice.Web.Models.Credentials.GalileoSupplierDetailViewModel>

@{
    Layout = "~/Views/Master.cshtml";
    ViewData["Title"] = "Supplier";
    var i = 0;
}
<div class="wrapper">

    <div class="content-wrapper">
        @await Html.PartialAsync("~/Views/Partials/Admin/Credentials/_credentailTabLinks.cshtml")

        <div class="col-md-12 col-xs-12" style="background: rgba(0, 0, 0, 0.05); border: 1px solid #ccc; border-top: 0px solid;">
            <div id="Supplier_Detail_Galileo_Airline_Div" style="display: block; margin-top: 20px;">
                <div class="row-fluid col-md-12 col-xs-12 table-responsive">
                    <div>
                        <div class="mydatagrid defaultText table table-striped table-bordered table-hover flex-table" cellspacing="0" id="ContentPlaceHolder1_GridView2" style="font-family:Arial;font-size:9pt;border-collapse:collapse;">

                            <div class="flex-row header">
                                <div class="cell" style="width:3%;">#</div>
                                <div class="cell" style="width:10%;">HAP</div>
                                <div class="cell" style="width:10%;">Import Queue</div>
                                <div class="cell" style="width:5%;">PCC</div>
                                <div class="cell" style="width:10%;">Password</div>
                                <div class="cell" style="width:10%;">Soap URL</div>
                                <div class="cell" style="width:10%;">Ticket If Fare Guarantee</div>
                                <div class="cell" style="width:10%;">Tktd Queue</div>
                                <div class="cell" style="width:10%;">Userid</div>
                                <div class="cell" style="width:20%;"><i class="fa fa-wrench"></i>Action</div>
                            </div>


                            @foreach (var supplier in Model)
                            {
                                <div class="flex-row table-row view-row @Html.Raw(i%2 == 0 ? "even" : "odd")" id="view-row-@supplier.Id">
                                    <div style="width:3%;" class="cell">@(i + 1)</div>
                                    <div style="width:10%;" class="cell">@supplier.Hap</div>
                                    <div style="width:10%;" class="cell">@supplier.ImportQueue</div>
                                    <div style="width:5%;" class="cell">@supplier.Pcc</div>
                                    <div style="width:10%;" class="cell">@supplier.Password</div>
                                    <div style="width:10%;" class="cell">@supplier.SoapUrl</div>
                                    <div style="width:10%;" class="cell">@(supplier.TicketIfFareGaurantee ?? false ? "True" : "False")</div>
                                    <div style="width:10%;" class="cell">@supplier.TktdQueue</div>
                                    <div style="width:10%;" class="cell">@supplier.Userid</div>
                                    <div style="width:20%;" class="cell">
                                        <a id=@supplier.Id title="Edit" data-id="@supplier.Id" class="edit-btn"><i class="fa fa-edit updico"></i></a>
                                    </div>
                                </div>

                                <!-- Editable Row (Initially Hidden) -->
                                <div class="edit-row  @Html.Raw(i%2 == 0 ? "even" : "odd")" id="edit-row-@supplier.Id" style="display:none">
                                    @using (Html.BeginForm("UpdateGalileoAirline", "AdminCredentionalManagement", FormMethod.Post, new { id = "GalileoAirline.cshtml", enctype = "multipart/form-data", @class = "flex-row" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("Id", supplier.Id)
                                        @Html.Hidden("Hap", supplier.Hap)
                                        <div class="cell" style="width:3%;">@supplier.Id</div>
                                        <div class="cell" style="width:10%">@supplier.Hap</div>
                                        <div class="cell" style="width:10%;">
                                            @Html.TextBoxFor(m => m.ElementAt(i).ImportQueue, new { @class = "form-control required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.ElementAt(i).ImportQueue, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="cell" style="width:5%;">
                                            @Html.TextBoxFor(m => m.ElementAt(i).Pcc, new { @class = "form-control required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.ElementAt(i).Pcc, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="cell" style="width:10%;">
                                            @Html.TextBoxFor(m => m.ElementAt(i).Password, new { @class = "form-control required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.ElementAt(i).Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="cell" style="width:10%;">
                                            @Html.TextBoxFor(m => m.ElementAt(i).SoapUrl, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ElementAt(i).SoapUrl, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="cell" style="width:10%;">
                                            @Html.DropDownListFor(m => m.ElementAt(i).TicketIfFareGaurantee, new SelectList(new[] { supplier.TicketIfFareGaurantee, supplier.TicketIfFareGaurantee == true ? false : true }), new { @class = "form-control required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.ElementAt(i).TicketIfFareGaurantee, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="cell" style="width:10%;">
                                            @Html.TextBoxFor(m => m.ElementAt(i).TktdQueue, new { @class = "form-control required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.ElementAt(i).TktdQueue, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width:10%;">
                                            @Html.TextBoxFor(m => m.ElementAt(i).Userid, new { @class = "form-control required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.ElementAt(i).Userid, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="mt-2 cell" style="width:20%;border-right:none;">
                                            <button type="submit" data-id="@supplier.Id" class="credential-btn"><i class="fa fa-save savek" title="" aria-describedby="ui-id-2"></i></button>
                                            <a class="cancel-btn" data-id="@supplier.Id"><i class="fa fa-times crosssr" title="Cancel"></i></a>
                                        </div>
                                    }
                                </div>
                                i++;
                            }

                        </div>
                    </div>


                </div>
            </div>
        </div>




    </div>
</div>