@model List<ZealTravel.Backoffice.Web.Models.Credentials.LccAirlineViewModel>

@{
    Layout = "~/Views/Master.cshtml";
    ViewData["Title"] = "Supplier";
    var i = 0;
}

<div class="wrapper">

    <div class="content-wrapper">
        @await Html.PartialAsync("~/Views/Partials/Admin/Credentials/_credentailTabLinks.cshtml")

        <div class="col-md-12 col-xs-12" style="background: rgba(0, 0, 0, 0.05); border: 1px solid #ccc; border-top: 0px solid;">
            <div id="Supplier_Detail_Galileo_Airline_Div" style="display: block; margin-top: 20px;">
                <div class="row-fluid col-md-12 col-xs-12 table-responsive">
                    <div>
                        <div class="mydatagrid defaultText table table-striped table-bordered table-hover " cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView2" style="font-family:Arial;font-size:9pt;border-collapse:collapse;">
                                <div class="flex-row header">
                                    <div class="cell" style="width:3%;">#</div>
                                    <div class="cell" style="width:10%;">SupplierID</div>
                                    <div class="cell" style="width:10%;">SupplierCode</div>
                                    <div class="cell" style="width:10%;">OrganizationCode</div>
                                    <div class="cell" style="width:10%;">CarrierCode</div>
                                    <div class="cell" style="width:10%;">AgentDomain</div>
                                    <div class="cell" style="width:10%;">Supplier_Name</div>
                                    <div class="cell" style="width:10%;">AgentID</div>
                                    <div class="cell" style="width:10%;">Password</div>
                                    <div class="cell" style="width:20%;">Action</div>
                                </div>


                                @foreach (var supplier in Model)
                                {
                                    <div class="flex-row table-row view-row @Html.Raw(i%2 == 0 ? "even" : "odd")" id="view-row-@supplier.Id" style="display: flex; align-items: center; border-bottom: 1px solid #ddd;">
                                    <div style="width:3%;" class="cell">@(i + 1)</div>
                                        <div style="width:10%;" class="cell">@supplier.SupplierId</div>
                                        <div style="width:10%;" class="cell">@supplier.SupplierCode</div>
                                        <div style="width:10%;" class="cell">@supplier.OrganizationCode</div>
                                        <div style="width:10%;" class="cell">@supplier.CarrierCode</div>
                                        <div style="width:10%;" class="cell">@supplier.AgentDomain</div>
                                        <div style="width:10%;" class="cell">@supplier.SupplierName</div>
                                        <div style="width:10%;" class="cell">@supplier.AgentId</div>
                                        <div style="width:10%;" class="cell">@supplier.Password</div>
                                        <div class="mt-2 cell" style="width:20%;">
                                            <a id="@supplier.Id" title="Edit" data-id="@supplier.Id" class="edit-btn"><i class="fa fa-edit updico"></i></a>
                                        </div>
                                    </div>

                                    <!-- Editable Row (Initially Hidden) -->
                                    <div class="edit-row  @Html.Raw(i%2 == 0 ? "even" : "odd")" id="edit-row-@supplier.Id" style="display:none">
                                        @using (Html.BeginForm("UpdateLccAirlines", "AdminCredentionalManagement", FormMethod.Post, new { id = "LCCAirlines.cshtml", enctype = "multipart/form-data", @class = "flex-row" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("Id", supplier.Id)
                                            @Html.Hidden("SupplierId", supplier.SupplierId)
                                            <div class="cell" style="width:3%;">@supplier.Id</div>
                                            <div class="cell" style="width:10%">@supplier.SupplierId</div>
                                            <div class="cell" style="width:10%;">
                                                @supplier.SupplierCode
                                            </div>
                                            <div class="cell" style="width:10%;">@supplier.OrganizationCode
                                            </div>
                                            <div class="cell" style="width:10%;">@supplier.CarrierCode
                                            </div>
                                            <div class="cell" style="width:10%;">@supplier.AgentDomain
                                            </div>
                                            <div class="cell" style="width:10%;">
                                                @* @Html.TextBox("SupplierName", supplier.SupplierName, new { @class = "form-control required" }) *@
                                                @Html.TextBoxFor(m => m.ElementAt(i).SupplierName, new { @class = "form-control required", @required = "required" })
                                                @* @Html.ValidationMessageFor(m => supplier.SupplierName, "", new { @class = "text-danger" }) *@
                                                @Html.ValidationMessageFor(m => m.ElementAt(i).SupplierName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="cell" style="width:10%;">
                                            @Html.TextBoxFor(m => m.ElementAt(i).AgentId, new { @class = "form-control required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.ElementAt(i).AgentId, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="cell" style="width:10%;">
                                            @Html.TextBoxFor(m => m.ElementAt(i).Password, new { @class = "form-control required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.ElementAt(i).Password, "", new { @class = "text-danger" })

                                 
                                            </div>

                                            <div class="mt-2 cell" style="width:20%;border-right:none;">
                                                <button type="submit" data-id="@supplier.Id" class="credential-btn"><i class="fa fa-save savek" title="" aria-describedby="ui-id-2"></i></button>
                                                <a class="cancel-btn" data-id="@supplier.Id"><i class="fa fa-times crosssr" title="Cancel"></i></a>
                                            </div>
                                        }
                                    </div>
                                    i++;
                                }
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@* <script src="~/assets/js/Credintial.js"></script> *@