@{
    Layout = "~/Views/Master.cshtml";
    ViewData["Title"] = "Supplier";
}

<link href="~/assets/css/newd.css" rel="stylesheet" />
<link href="~/assets/css/custom.css" rel="stylesheet" />
<link href="~/assets/css/newdashB.css" rel="stylesheet" />
<link href="~/assets/css/ValidationEngine.css" rel="stylesheet" />
<link href="~/assets/css/colortheme.css" rel="stylesheet" />
<link href="~/assets/css/AdminLTE.css" rel="stylesheet" />
<div class="wrapper">
    <div class="content-wrapper" style="min-height: 1324px;">
        <section class="content" style="padding: 0px;">



            <div class="container-fluid">
                <div style="width: 100%; margin: 0 auto; ">
                    <div class="col-md-12 col-xs-12 offset-0">
                        <h5 class="reportminheader"><i class="fa fa-search wredcolo reportminicon" aria-hidden="true"
                                style=""></i>Credentials</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <ul class="credentials-list">
                    <li>
                        <a href="@Url.Action("ProductStatus", "AdminCredentionalManagement")">
                            Product Status
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ProductDetail", "AdminCredentionalManagement")">
                            Product Detail
                        </a>
                    </li>
                    <li>
                        <a
                            href="@Url.Action("GalileoAirline", "AdminCredentionalManagement", new { action = "galileoairline" })">
                            Galileo Airline
                        </a>
                    </li>
                    <li>
                        <a
                            href="@Url.Action("AirlineAPIDetail", "AdminCredentionalManagement", new { action = "airlineapidetail" })">
                            Airline API Detail
                        </a>
                    </li>
                    <li>
                        <a
                            href="@Url.Action("LCCAirlines", "AdminCredentionalManagement", new { action = "lccairline" })">
                            LCC Airline
                        </a>
                    </li>
                    <li>
                        <a
                            href="@Url.Action("PnrMakeDays", "AdminCredentionalManagement", new { action = "pnrmakedays" })">
                            PNR Make Days
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("UAPIFOP", "AdminCredentionalManagement", new { action = "uapifop" })">
                            UAPI-FOP
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("UAPICC", "AdminCredentionalManagement", new { action = "uapicc" })">
                            UAPI-CC
                        </a>
                    </li>
                </ul>
            </div>

        </section>
    </div>
</div>
<!-- Styles to make the list vertical and visually appealing -->
<style>
    .credentials-menu {
        padding: 20px;
    }

    .credentials-list {
        list-style-type: none;
        padding-left: 0;
        background: #fff !important;
        margin-top: 5px;
        box-shadow: 0 0 8px 0 rgb(5 47 95 / 6%), 0 12px 64px 0 rgb(52 105 203 / 7%);
    }

    .credentials-list li {
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #dddcdc;
    }

    .credentials-list a {
        text-decoration: none;
        font-size: 16px;
        color: #1e5370;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .credentials-list a:hover {
        color: #0056b3;
    }
</style>
