@model ZealTravel.Backoffice.Web.Models.Credentials.AirlinePnrViewModel

@{
    Layout = "~/Views/Master.cshtml";
    ViewData["Title"] = "Supplier";
    var i = 0;
}
<div class="wrapper">

    <div class="content-wrapper">
        @await Html.PartialAsync("~/Views/Partials/Admin/Credentials/_credentailTabLinks.cshtml")

        <div class="col-md-12 col-xs-12" style="background: rgba(0, 0, 0, 0.05); border: 1px solid #ccc; border-top: 0px solid;">
            <div id="Supplier_Detail_Galileo_Airline_Div" style="display: block; margin-top: 20px;">
                <div class="row-fluid col-md-12 col-xs-12 table-responsive">
                    <div>
                        <div class="mydatagrid defaultText table table-striped table-bordered table-hover flex-table" cellspacing="0" id="ContentPlaceHolder1_GridView2" style="font-family:Arial;font-size:9pt;border-collapse:collapse;margin-bottom: 0;">

                            <div class="flex-row header">
                                <div class="cell" style="width:8%;">#</div>
                                <div class="cell" style="width:100%;">CarrierCode</div>
                                <div class="cell" style="width:100%;">Sector</div>
                                <div class="cell" style="width:100%;">PnrDays</div>
                                <div class="cell" style="width:100%;"><i class="fa fa-wrench"></i>Action</div>
                            </div>


                            @foreach (var supplier in Model.PnrMakeDaysDetails)
                        {
                            <div class="flex-row table-row view-row @Html.Raw(i%2 == 0 ? "even" : "odd")" id="view-row-@supplier.Id">
                                <div style="width:8%;" class="cell">@(i + 1)</div>
                                <div style="width:100%;" class="cell">@supplier.CarrierCode</div>
                                <div style="width:100%;" class="cell">@supplier.Sector</div>
                                <div style="width:100%;" class="cell">@supplier.PnrDays</div>
                                <div style="width:100%;" class="cell">
                                    <a id="@supplier.Id" title="Edit" data-id="@supplier.Id" class="edit-btn">
                                        <i class="fa fa-edit updico"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="edit-row @Html.Raw(i%2 == 0 ? "even" : "odd")" id="edit-row-@supplier.Id" style="display:none">
                                @using (Html.BeginForm("UpdatePnrMakeDays", "AdminCredentionalManagement", FormMethod.Post, new { id = "PnrMakeDays_" + supplier.Id, enctype = "multipart/form-data", @class = "flex-row" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("Id", supplier.Id)
                                    @Html.Hidden("CarrierCode", supplier.CarrierCode)

                                    <div class="cell" style="width:8%;">@supplier.Id</div>
                                    <div class="cell" style="width:100%">@supplier.CarrierCode</div>
                                    <div class="cell" style="width:100%">@supplier.Sector</div>
                                    <div class="cell" style="width:100%;">
                                        @Html.TextBoxFor(m => m.PnrMakeDaysDetails.ElementAt(i).PnrDays, new { @class = "form-control required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.PnrMakeDaysDetails.ElementAt(i).PnrDays, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mt-2 cell" style="width:100%;border-right:none;">
                                        <!-- Save Button -->
                                        <button type="submit" class="credential-btn">
                                            <i class="fa fa-save savek" title="Save"></i>
                                        </button>
                                        <!-- Cancel Button -->
                                        <a class="cancel-btn" data-id="@supplier.Id">
                                            <i class="fa fa-times crosssr" title="Cancel"></i>
                                        </a>
                                        <!-- Delete Button -->
                                        <button type="button" class="credential-btn delete-btn" data-id="@supplier.Id" onclick="deleteSupplier(@supplier.Id)">
                                            <i class="fa fa-trash delete-icon" title="Delete"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                            i++;
                        }

                        </div>
                        <!-- Hidden Add New Row -->
                        <div class="flex-row table-row view-row" id="add-new-row" style="display: none;">
                            @using (Html.BeginForm("InsertPnrMakeDays", "AdminCredentionalManagement", FormMethod.Post, new { id = "InsertFormPNR", enctype = "multipart/form-data", @class = "flex-row hidden-insert" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="cell" style="width: 8%; border-left: 1px solid #ccc"></div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewPnrMakeDaysDetails.CarrierCode, new { @class = "form-control required", required = "required", maxlength = "2" })
                                    @Html.ValidationMessageFor(m => m.NewPnrMakeDaysDetails.CarrierCode, "", new { @class = "text-danger required" })
                                </div>

                                <div class="cell" style="width: 100%;">
                                    @Html.DropDownListFor(
                                             m => m.NewPnrMakeDaysDetails.Sector,
                                             new SelectList(
                                             new[]
                                             {
                                new { Value = "D", Text = "Domestic" },
                                new { Value = "I", Text = "International" }
                                },
                                             "Value",  // Value field
                                             "Text"   // Text field
                                             ),  // Default selected value
                                             new { @class = "form-control required", required = "required" } // Additional HTML attributes
                                             )
                                    @Html.ValidationMessageFor(m => m.NewPnrMakeDaysDetails.Sector, "", new { @class = "text-danger required" })
                                </div> 



                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewPnrMakeDaysDetails.PnrDays, new { @class = "form-control required", required = "required", type = "number", maxlength = "3" })
                                    @Html.ValidationMessageFor(m => m.NewPnrMakeDaysDetails.PnrDays, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                     <button type="submit" class="credential-btn">
                                            <i class="fa fa-save savek" title="Insert"></i>
                                        </button>
                                    <a class="cancel-add-btn"><i class="fa fa-times crosssr" title="Cancel"></i></a>
                                </div>
                            }

                        </div>
                    </div>
                    <input type="button" value="Add New Record" id="btnAddNewRecord" class="btn" style="padding: 9px 12px; background-color: #00a5a5 !important; color: #ffffff;margin-top: 20px;">
                </div>
            </div>
        </div>
    </div>
</div>