@model ZealTravel.Backoffice.Web.Models.Credentials.SupplierUapiCcViewModel
@{
    Layout = "~/Views/Master.cshtml";
    ViewData["Title"] = "Supplier";
    var i = 0;
}

<div class="wrapper">
    <div class="content-wrapper">
        @await Html.PartialAsync("~/Views/Partials/Admin/Credentials/_credentailTabLinks.cshtml")

        <div class="col-md-12 col-xs-12" style="background: rgba(0, 0, 0, 0.05); border: 1px solid #ccc; border-top: 0px solid;">
            <div id="Supplier_Detail_Galileo_Airline_Div" style="display: block; margin-top: 20px;">
                <div class="row-fluid col-md-12 col-xs-12 table-responsive">
                    <div >
                        <div class="mydatagrid defaultText table table-striped table-bordered table-hover" cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_GridView2" style="font-family:Arial;font-size:9pt;border-collapse:collapse;margin-bottom: 0%;min-width:2000px">
                                <div class="flex-row header">
                                    <div class="cell" style="width: 100%;">Id</div>
                                    <div class="cell" style="width: 100%;">Bank Country Code</div>
                                    <div class="cell" style="width: 100%;">Bank Name</div>
                                    <div class="cell" style="width: 100%;">CVV</div>
                                    <div class="cell" style="width: 100%;">Exp Date</div>
                                    <div class="cell" style="width: 100%;">Name</div>
                                    <div class="cell" style="width: 100%;">Number</div>
                                    <div class="cell" style="width: 100%;">Type</div>
                                    <div class="cell" style="width: 100%;">Address Name</div>
                                    <div class="cell" style="width: 100%;">Street</div>
                                    <div class="cell" style="width: 100%;">City</div>
                                    <div class="cell" style="width: 100%;">State</div>
                                    <div class="cell" style="width: 100%;">Postal Code</div>
                                    <div class="cell" style="width: 100%;">Country</div>
                                    <div class="cell" style="width: 100%;">Carriers</div>
                                    <div class="cell" style="width: 100%;">Action</div>
                                </div>

                            @foreach (var supplier in Model.UapiCcDetails)
                            {
                                <div class="flex-row table-row view-row @Html.Raw(i % 2 == 0 ? "even" : "odd")" id="view-row-@supplier.Id">
                                    <div class="cell" style="width: 100%;">@supplier.Id</div>
                                    <div class="cell" style="width: 100%;">@supplier.BankCountryCode</div>
                                    <div class="cell" style="width: 100%;">@supplier.BankName</div>
                                    <div class="cell" style="width: 100%;">@supplier.Cvv</div>
                                    <div class="cell" style="width: 100%;">@supplier.ExpDate</div>
                                    <div class="cell" style="width: 100%;">@supplier.Name</div>
                                    <div class="cell" style="width: 100%;">@supplier.Number</div>
                                    <div class="cell" style="width: 100%;">@supplier.Type</div>
                                    <div class="cell" style="width: 100%;">@supplier.AddressName</div>
                                    <div class="cell" style="width: 100%;">@supplier.Street</div>
                                    <div class="cell" style="width: 100%;">@supplier.City</div>
                                    <div class="cell" style="width: 100%;">@supplier.State</div>
                                    <div class="cell" style="width: 100%;">@supplier.PostalCode</div>
                                    <div class="cell" style="width: 100%;">@supplier.Country</div>
                                    <div class="cell" style="width: 100%;">@supplier.Carriers</div>
                                    <div class="cell" style="width: 100%; display: flex;align-items: start;">
                                        <a id="@supplier.Id" title="Edit" data-id="@supplier.Id" class="edit-btn" style="display: block;">
                                            <i class="fa fa-edit updico"></i>
                                        </a>
                                        @using (Html.BeginForm("DeleteUapiCc", "AdminCredentionalManagement", FormMethod.Post, new { id = "DeleteForm_" + supplier.Id, @class = "flex-row deleteForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("id", supplier.Id)
                                            <button type="submit" class="credential-btn" title="Delete" style="display: block;">
                                                <i class="fa fa-trash delete-icon"></i>
                                            </button>
                                        }
                                    </div>
                                </div>

                                <div class="edit-row @Html.Raw(i % 2 == 0 ? "even" : "odd")" id="edit-row-@supplier.Id" style="display:none;">
                                    @using (Html.BeginForm("UpdateUapiCc", "AdminCredentionalManagement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "flex-row uppercase-input" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(m => m.UapiCcDetails.ElementAt(i).Id)

                                        <div class="cell" style="width: 100%;">@supplier.Id</div>
                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).BankCountryCode, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).BankCountryCode, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).BankName, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).BankName, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).Cvv, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).Cvv, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).ExpDate, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).ExpDate, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).Name, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).Name, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).Number, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).Number, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).Type, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).Type, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).AddressName, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).AddressName, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).Street, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).Street, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).City, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).City, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).State, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).State, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).PostalCode, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).PostalCode, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).Country, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).Country, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            @Html.TextBoxFor(m => m.UapiCcDetails.ElementAt(i).Carriers, new { @class = "form-control uppercase-input required", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.UapiCcDetails.ElementAt(i).Carriers, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="cell" style="width: 100%;">
                                            <button type="submit" data-id="@supplier.Id" class="credential-btn"><i class="fa fa-save savek"></i></button>
                                              <button type="submit" class="credential-btn" title="Delete" style="display: none;">
                                                <i class="fa fa-trash delete-icon"></i>
                                            </button>
                                            <a class="cancel-btn" data-id="@supplier.Id"><i class="fa fa-times crosssr" title="Cancel"></i></a>
                                        </div>
                                    }
                                </div>
                                i++;
                            }

                        </div>
                    
                     <!-- Hidden Add New Row -->
                                <div class="flex-row table-row view-row" id="add-new-row" style="display: none;min-width:2000px">
                            @using (Html.BeginForm("InsertUapiCc", "AdminCredentionalManagement", FormMethod.Post, new { id = "InsertForm", enctype = "multipart/form-data", @class = "flex-row hidden-insert" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="cell" style="width: 100%;"></div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.BankCountryCode, new { @class = "form-control uppercase-input required  uppercase-input", required = "required", maxlength = "2" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.BankCountryCode, "", new { @class = "text-danger required" })
                                </div>

                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.BankName, new { @class = "form-control uppercase-input required", required = "required", maxlength = "10" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.BankName, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.Cvv, new { @class = "form-control uppercase-input required", required = "required", type = "number", maxlength = "3" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.Cvv, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.ExpDate, new { @class = "form-control uppercase-input required", required = "required", maxlength = "7" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.ExpDate, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.Name, new { @class = "form-control uppercase-input required", required = "required", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.Name, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.Number, new { @class = "form-control uppercase-input required", required = "required", type = "number", maxlength = "16" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.Number, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.Type, new { @class = "form-control uppercase-input required", required = "required", maxlength = "2" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.Type, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.AddressName, new { @class = "form-control uppercase-input required", required = "required", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.AddressName, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.Street, new { @class = "form-control uppercase-input required", required = "required", maxlength = "20" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.Street, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.City, new { @class = "form-control uppercase-input required", required = "required", maxlength = "20" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.City, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.State, new { @class = "form-control uppercase-input required", required = "required", maxlength = "20" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.State, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.PostalCode, new { @class = "form-control uppercase-input required", required = "required", maxlength = "6" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.PostalCode, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.Country, new { @class = "form-control uppercase-input required", required = "required", maxlength = "2" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.Country, "", new { @class = "text-danger required" })
                                </div>
                                <div class="cell" style="width: 100%;">
                                    @Html.TextBoxFor(m => m.NewUapiCc.Carriers, new { @class = "form-control uppercase-input required", required = "required", maxlength = "20" })
                                    @Html.ValidationMessageFor(m => m.NewUapiCc.Carriers, "", new { @class = "text-danger required" })
                                </div>

                                 <div class="cell" style="width: 100%;">
                                     <button type="submit" class="credential-btn">
                                            <i class="fa fa-save savek" title="Insert"></i>
                                        </button>
                                    <a class="cancel-add-btn"><i class="fa fa-times crosssr" title="Cancel"></i></a>
                                </div>
                            }

                                </div>
                                </div>
                   <input type="button" value="Add New Record" id="btnAddNewRecord" class="btn" style="padding: 9px 12px; background-color: #00a5a5 !important; color: #ffffff;margin-top: 20px;">
                </div>
            </div>
        </div>
    </div>
</div>