@model List<ZealTravel.Backoffice.Web.Models.Credentials.UapiFopViewModel>

@{
    Layout = "~/Views/Master.cshtml";
    ViewData["Title"] = "Supplier";
}

<link href="~/assets/css/credentialTab.css" rel="stylesheet" />

@await Html.PartialAsync("~/Views/Partials/Admin/Credentials/_credentailTabLinks.cshtml")

@using (Html.BeginForm("UpdateUapiFop", "AdminCredentionalManagement", FormMethod.Post, new { id = "UAPIFOP", enctype = "multipart/form-data", @class="wrapper"}))
{
    @Html.AntiForgeryToken()
    <div class="content-wrapper UAPIFOP" style="padding-left: 30px;padding-top: 30px; border: 1px solid #ccc; border-top: 0px solid;">
        @foreach (var item in Model)
        {
            <div class="p-2">
                <input type="radio" name="selectedFopId" value="@item.Id" @(item.Status.GetValueOrDefault(false) ? "checked" : "") />
                <label>@item.Fop</label>
            </div>
        }
        <br />
        <button type="submit">Update FOP</button>
        @if (TempData["SuccessMessage"] != null)
        {
            <div>
                @TempData["SuccessMessage"]
            </div>
        }
    </div>
}
