@model ZealTravel.Backoffice.Web.Models.ChangePassword
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Master.cshtml";

}
<link href="~/assets/css/changePassword.css" rel="stylesheet" />
<div class="wrapper" id="formdi" style="background: rgb(248 248 248); height: auto;">
    <div class="content-wrapper" style="min-height: 700px;">
        <section class="content" style="padding: 0px;">
            <div class="container-fluid content-wrp wrp-border">
                <div style="width: 100%; margin: 0 auto;">
                    <div class="col-md-12 offset-0">
                        <h2 class="reportminheader">
                            <div class="pass-icon">
                                <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 8.5V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V11C3 12.1046 3.89543 13 5 13H10.875M19 14V12C19 10.8954 18.1046 10 17 10C15.8954 10 15 10.8954 15 12V14M14 20H20C20.5523 20 21 19.5523 21 19V15C21 14.4477 20.5523 14 20 14H14C13.4477 14 13 14.4477 13 15V19C13 19.5523 13.4477 20 14 20Z" stroke="#1e5370" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <circle cx="7.5" cy="8.5" r="1.5" fill="#1e5370" />
                                    <circle cx="12" cy="8.5" r="1.5" fill="#1e5370" />
                                </svg>
                            </div>
                            Change Password
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 mdpadd">
                <div class="col-md-12 col-xs-12 main-wrapper content-wrp panel-body m-top-5 mdpadd boxshdr">
                    <div class="col-md-12 col-xs-12 mdpadd">
                        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "changePassword", @class = "change-password-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-12 col-xs-12 panel-body">
                                <div class="col-md-3 col-xs-12 text-right rechmobpadin">
                                    <strong>Old Password<span>*</span></strong>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control validate[required]", @placeholder = "Old Password" })
                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-xs-12"></div>
                            </div>
                            <div class="col-md-12 col-xs-12 panel-body">
                                <div class="col-md-3 col-xs-12 text-right rechmobpadin">
                                    <strong>New Password<span>*</span></strong>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control validate[required]", @placeholder = "New Password" })
                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-xs-12"></div>
                            </div>
                            <div class="col-md-12 col-xs-12 panel-body">
                                <div class="col-md-3 col-xs-12 text-right rechmobpadin">
                                    <strong>Confirm New Password<span>*</span></strong>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    @Html.PasswordFor(m => m.RetypeNewPassword, new { @class = "form-control validate[required,equals[NewPassword]]", @placeholder = "Retype New Password" })
                                    @Html.ValidationMessageFor(m => m.RetypeNewPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-xs-12"></div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-3 col-xs-12"></div>
                                <div class="col-md-4 col-xs-12">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                                <div class="success-msg col-lg-6 col-md-6 col-xs-12">
                                    @if (ViewBag.SuccessMessage != null)
                                    {
                                        <span class="alert alert-success">
                                            <strong>
                                                @ViewBag.SuccessMessage
                                            </strong>
                                        </span>
                                    }
                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <span class="alert alert-danger">
                                            <strong>@ViewBag.ErrorMessage</strong>
                                        </span>
                                    }
                                </div>
                            </div>
                            <div class="note-msg col-lg-6 col-md-6 col-xs-12">
                                <strong>Note: Password should not be your email or mobile number.</strong>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>