@{
    Layout = "~/Views/Master.cshtml";
    ViewBag.Title = "privacy-policy";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<link href="/assets/css/staticpage.css" rel="stylesheet" />
<div class="container-fluid offset-0">
    <div class="col-md-12 col-sm-12 col-xs-12 offset-0" style="background:#ececec;">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div class="about-content" style="background: #fff">
                <div class="content-wrapper">
                    <header class="page-lbl fly-in appeared">
                        <div class="headcls">
                            <h2>Privacy Policy</h2>
                        </div>
                    </header>
                    <div class="tree-colls fly-in appeared m-top-40">
                        <div class="four-colls-i about-text">
                            <p>
                                @Configuration["Company:Name"] understands your concern for privacy and makes sure of protecting the personal information of the customers; including their names, addresses and contact details they share with us. We, being a reliable travel agency of India, take every step to protect your privacy. <br>
                                For visiting @Configuration["Company:Website"] website, you don’t need to reveal your personal information. The individual user exploring our website remains complete anonymous. <br>
                            </p>
                            <div class="four-colls-i about-text">
                                <p>
                                    <strong style="color: #16355c;">Cookies:- </strong><br>
                                    It is true that few of our web pages use "cookies" to serve the customers better and to provide them the personalized information they need from our site. Cookies only identify the websites to smooth the progress of your next visit to our site. Information that we collect through them is used only to analyze and improve our services for you. No individual information related to your identity is collected or used in this process.<br>
                                    <br><br>
                                    <strong style="color: #16355c;">
                                        What Personal Details @Configuration["Company:Name"] Collects &amp; How These are Used:-
                                    </strong>
                                    <br>
                                    If you make any booking/purchasing or sign-up for newsletters of our website, e-commerce transactions, @Configuration["Company:Name"] collects the following personal information from you while transacting:<br>
                                    •	Name <br>
                                    •	Contact Number <br>
                                    •	Address <br>
                                    •	Credit Card details <br>
                                    •	Age <br>
                                    •	Email I’d <br>
                                    @Configuration["Company:Name"] does not share or deal for any of the above sensitive information without the permission of its users or customers. The abovementioned information is collected from the users/customers/travelers for following usage:
                                </p>
                                <div class="four-colls-i about-text">
                                    <p>
                                        <strong style="color: #16355c;">To Book a Service:-</strong><br>
                                        Names, addresses, phone numbers and age details are shared with related service providers, including airlines, hotels, or bus services to provide reservation and booking to the customers or travelers.
                                    </p>

                                    <div class="four-colls-i about-text">
                                        <p>
                                            <strong style="color: #16355c;">To Send Promotional Offers :-</strong><br>
                                            @Configuration["Company:Website"] uses details like mobile numbers and e-mail I’d for sending information about any promotional offers. We often sponsor promotions and lucky draws to give members an opportunity to win discounts on travel or other prizes. This is also optional and the user can unsubscribe for such emails. In such cases, customers remain unaware about ongoing promotional discounts.
                                        </p>
                                    </div>

                                    <div class="four-colls-i about-text">
                                        <p>
                                            <strong style="color: #16355c;">Member Registration:-</strong><br>
                                            If you opt to be a registered member of our website, information like name, address, telephone number, e-mail address, a unique login name and password are asked. This information is collected on the registration form for various purposes like <br>
                                            1.	User recognition <br>
                                            2.	To complete the travel reservations <br>
                                            3.	To let us connecting with you for customer service purposes, if necessary <br>
                                            4.	To contact you in order to meet your specific needs; and <br>
                                            5.	To improve our products and services <br>
                                            6.	To confirm your new member registration and each booking you do. <br>
                                        </p><div class="four-colls-i about-text">
                                            <p>
                                                <strong style="color: #16355c;">Surveys:-</strong><br>
                                                @Configuration["Company:Website"] identifies the importance of its customers’ opinion. It often conducts surveys and uses personal identification information to invite its regular customers for taking part into the surveys. Customers can take part in these surveys at completely on their own choice. Typically, we conduct the surveys to know about their experiences with @Configuration["Company:Website"] and to make our website, mobile site and mobile app more user-friendly for its members. Survey contestants remain anonymous.
                                            </p>

                                        </div>
                                    </div>

                                    <div class="four-colls-i about-text">
                                        <p>
                                            <strong style="color: #16355c;">Safeguard Sensitive Information:-</strong><br>
                                            Sensitive information like Credit/Debit Card and Net Banking Details are mainly collected by the payment gateways and banks and not by @Configuration["Company:Name"]. However, if still this information is stored on our site, it remains completely unshared and safe, excluding that if it has been shared with any third party by fault through you while browsing our website. Sometimes, such information is shared with certain third parties to process the Cashback offers &amp; discounts, if applicable.

                                        </p><div class="four-colls-i about-text">
                                            <p><strong style="color: #16355c;">Automatic Logging of Session Data:-</strong><br>We record session data of the users, which includes IP address, OS, browser software and the activities of the user on his device. We collect session data to evaluate user behavior. It helps us in identifying the problems with our servers and lets us improve our systems. This information does not identify any visitor personally and only examine the user’s rough geographic location.</p>

                                        </div>
                                    </div>

                                    <div class="four-colls-i about-text">
                                        <p>
                                            <strong style="color: #16355c;">Permissions Asked during @Configuration["Company:Name"] Mobile App Installation:-</strong><br>
                                            When @Configuration["Company:Name"] app is installed on your phone, a list of permissions appears. Permissions that @Configuration["Company:Name"] requires are:
                                        </p><div class="four-colls-i about-text">
                                            <p>
                                                <strong style="color: #16355c;">Device &amp; App history:- </strong>We need your device permission to collect details like OS (operating system) name &amp; version, mobile network, preferred language, and few others. On the basis of these inputs, we optimize your travel booking experience.<br><br>
                                                <strong style="color: #16355c;">  Identity:- </strong>  Through this permission, you allow us to get the info of your account(s) on your mobile device. This info is used to fill your email IDs automatically. It allows us mapping email ID’s of users to give them the benefits of exclusive travel discounts and cashback etc. <br><br>
                                                <strong style="color: #16355c;"> Location:- </strong> With this permission, you allow us for letting you know the benefits of ongoing specific offers on your location. When you launch @Configuration["Company:Name"] app for travel booking, we detect your location automatically and your nearest airport or city is auto-filled. For international journeys, this allows us calculating your time zone and providing information consequently. <br><br>
                                                <strong style="color: #16355c;">    SMS:- </strong> If you let us accessing your SMS, we read your SMS and fill the ‘OTP’ automatically while making transactions. This offers you a hassle-free booking experience and you don’t have to move out of the app for checking the OTP and then filling it.<br><br>
                                                <strong style="color: #16355c;">   Contacts:- </strong> If you let us accessing your contacts, we can invite your friends to try our app and also give them recommendations for various travel related services. These details will be stored on our servers and synchronized from your phone.<br><br>

                                                <strong style="color: #16355c;">       Device ID:- </strong> This permission helps us in identifying your Android ID through which we can exclusively recognize our users. It also lets us know your contact details through which we auto-fill specific details and guarantee a seamless booking experience. <br><br>
                                                <strong style="color: #16355c;">Calendar:- </strong> This permission allows us putting a travel plan on your calendar.
                                                @Configuration["Company:Name"] takes maximum initiatives possible to protect the information you share with us. We have taken advanced technology and security measures along with strict policy guidelines to secure the privacy of our customers and save their information from any unwanted access. We are constantly enhancing our security measures using more advanced technology.
                                                Our privacy policy may change due to any unforeseen circumstances and enhancement of technologies. To get access to our new privacy policy, keep checking the websites regularly and identify our latest policies.
                                                Thank you for using @Configuration["Company:Website"]! We assure you a safe transaction.


                                            </p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
