
<link href="~/assets/css/mody.css" rel="stylesheet" />
<link href="~/assets/css/credentailTab.css" rel="stylesheet" />
<script src="~/assets/js/jqueryui.js"></script>
<link href="~/assets/css/custom.css" rel="stylesheet" />
<link href="~/assets/css/jqueryui.css" rel="stylesheet" />

<link href="~/assets/css/colortheme.css" rel="stylesheet" />
<link href="~/assets/css/AdminLTE.css" rel="stylesheet" />
<link href="~/assets/css/Credintial.css" rel="stylesheet" />
<script src="~/assets/js/Credintial.js"></script>
<div class="wrapper" style="height: auto;">
    <div class="content-wrapper">
        <section class="content" style="padding: 0px;">

            <div class="container-fluid px-0">
                <div style="width: 100%; margin: 0 auto;">
                    <div class="col-md-12 col-xs-12 offset-0" style="">
                        <h5 class="reportminheader">
                            <i class="fa fa-thumbs-up wredcolo reportminicon" aria-hidden="true"
                               style=""></i>Air Management
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12" style="padding: 0px; background: #fff; border-bottom: 4px solid  rgba(0, 0, 0, 0.3);">
                <div class="row-fluid tab" style="background: #fff">
                    <div class="col-md-2 col-xs-12" style="width: 134px; padding-right: 0px;">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/admin/managecredentials/productstatus" id="btnproductstatus"
                                       class="tablinks @(ContextualRoute("/admin/managecredentials/productstatus") ? "active" : "")">
                                        Product Status
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12" style="width: 115px; padding: 0px;">
                        <div class="span6 ">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/admin/managecredentials/hotelsupplier" id="btnhoteldetail"
                                       class="tablinks @(ContextualRoute("/admin/managecredentials/hotelsupplier") ? "active" : "")">
                                        Hotel
                                        Supplier
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12" style="width: 115px; padding: 0px;">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/admin/managecredentials/productdetail" id="btnproductdetail"
                                       class="tablinks @(ContextualRoute("/admin/managecredentials/productdetail") ? "active" : "")">
                                        Product Detail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12" style="width: 114px; padding: 0px;">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/admin/managecredentials/galileoairline" id="btnGalileoairline"
                                       class="tablinks @(ContextualRoute("/admin/managecredentials/galileoairline") ? "active" : "")">
                                        Galileo Airline
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12" style="width: 131px; padding: 0px;">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/admin/managecredentials/airlineapidetail" id="btnAPIairline"
                                       class="tablinks @(ContextualRoute("/admin/managecredentials/airlineapidetail") ? "active" : "")">
                                        Airline API Detail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12" style="width: 93px; padding: 0px;">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/admin/managecredentials/lccairline" id="btnLccAirline"
                                       class="tablinks @(ContextualRoute("/admin/managecredentials/lccairline") ? "active" : "")">
                                        Lcc Airline
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-12" style="width: 115px; padding: 0px;">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/admin/managecredentials/pnrmakedays" id="btnPnrMakeDaysAirline"
                                       class="tablinks @(ContextualRoute("/admin/managecredentials/pnrmakedays") ? "active" : "")">
                                        PnrMakeDays
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12" style="width: 105px; padding: 0px;">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/admin/managecredentials/uapifop" id="btnUAPIFOP"
                                       class="tablinks @(ContextualRoute("/admin/managecredentials/uapifop") ? "active" : "")">
                                        UAPI-FOP
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12" style="width: 85px; padding: 0px;">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <a href="/admin/managecredentials/uapicc" id="btnUAPICCdetail"
                                       class="tablinks @(ContextualRoute("/admin/managecredentials/uapicc") ? "active" : "")">
                                        UAPI-CC
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </section>
    </div>
</div>
@functions {
    public bool ContextualRoute(string route)
    {
        return Context.Request.Path.Value.Contains(route, StringComparison.OrdinalIgnoreCase);
    }
}
