@model ZealTravel.Backoffice.Web.Models.SearchAgencyResponse
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Master.cshtml";
    ViewData["Title"] = "SearchAgency";
}

<link href="~/assets/css/newd.css" rel="stylesheet" />
<link href="~/assets/css/custom.css" rel="stylesheet" />
<link href="~/assets/css/newdashB.css" rel="stylesheet" />
<link href="~/assets/css/ValidationEngine.css" rel="stylesheet" />
<link href="~/assets/css/colortheme.css" rel="stylesheet" />
<link href="~/assets/css/AdminLTE.css" rel="stylesheet" />
<link href="~/assets/css/searchAgency.css" rel="stylesheet" />


<div class="wrapper">
    <div class="content-wrapper" style="min-height: 1324px;">
        <section class="content" style="padding: 0px;">



            <div class="container-fluid">
                <div style="width: 100%; margin: 0 auto; ">
                    <div class="col-md-12 col-xs-12 offset-0">
                        <h5 class="reportminheader"><i class="fa fa-search wredcolo reportminicon" aria-hidden="true" style=""></i> Search Company</h5>
                    </div>
                </div>
            </div>

                    <div class="col-md-12 col-xs-12">

                        <div class="col-md-12 col-xs-12 boxshdr " style="margin-top:5px; margin-bottom:5px;">
                            @using (Html.BeginForm("SearchAgency", "Agency", FormMethod.Post, new { id = "SearchAgency.cshtml" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-md-12 col-sm-12 col-xs-12 offset-0">


                                    <div class="col-md-12 col-sm-12 col-xs-12 offset-0">
                                        <div class="col-md-6 col-sm-6 col-xs-12 offset-0 m-top-10">
                                            <div class="col-md-4 col-sm-4 col-xs-12"><strong>Company Name </strong></div>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                @Html.TextBoxFor(m => m.CompanyName, new
                                                    {
                                                        @class = "form-control",
                                                        @placeholder = "Company Name"
                                                    })
                                            </div>

                                        </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 offset-0 m-top-10">
                                    <div class="col-md-4 col-sm-4 col-xs-12"><strong>Account ID </strong></div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(m => m.AccountId, new { @class = "form-control", @placeholder = "Account ID" })
                                    </div>

                                </div>


                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 offset-0">
                                        <div class="col-md-6 col-sm-6 col-xs-12 offset-0 m-top-10">
                                            <div class="col-md-4 col-sm-4 col-xs-12"><strong>State </strong></div>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                @Html.DropDownListFor(m => m.State, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "Select State", new { @class = "form-control", @id = "stateDropdown" })
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 offset-0 m-top-10">
                                            <div class="col-md-4 col-sm-4 col-xs-12"><strong>City</strong></div>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                @Html.DropDownListFor(m => m.City, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "Select City", new { @class = "form-control", @id = "cityDropdown"})
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-12 col-sm-12 col-xs-12 m-top-10 text-center" style="margin-top: 15px;">
                                <input type="submit" class="btn btn-primary" value="Search" style="background: #04c !important; color: #fff !important; font-size: 19px; padding: 9px 12px; box-shadow: 0px 0px 14px #0000005e; font-family: 'Quicksand', sans-serif" />
                                    </div>
                                </div>
                            }



                            <div class="col-md-12 col-sm-12 col-xs-12 brdr-cls pdng-btm m-top-10 offset-0">


                                <div class="col-md-12 col-xs-12 table-responsive" style="padding-left: 0px; padding-right: 0px; margin-top: -6px;">

                                    <table class="defaultText table-responsive table table-striped table-bordered table-hover" style="width: 100%" cellspacing="1" cellpadding="4" border="0" id="Table1">
                                @if (Model.ShowNoInputError)
                                {
                                    <tr style="width: 100%; height: 30px;" id="ct0">
                                        <td colspan="8" class="col-md-12 col-xs-12">
                                            <h5 class="text-center" style="color: Red;">Please provide at least one search Criteria.</h5>
                                        </td>
                                    </tr>
                                }
                                else if (Model.AgencyData != null && Model.AgencyData.Any())
                                {
                                    <thead>
                                        <tr class="hg">
                                            <th>#</th>
                                            <th>Company</th>
                                            <th>Account No</th>
                                            <th>City</th>
                                            <th>User Type</th>
                                            <th>Status</th>
                                            <th>Registration Date</th>
                                            <th>Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var agency in Model.AgencyData)
                                        {
                                            <tr id="tablerow_@agency.ID">
                                                <td>@agency.ID</td>
                                                <td>
                                                    <a class="txt_blue" id="comp_@agency.ID" accesskey="@agency.CompanyName,@agency.AccountID" onclick="modifycomp(this)" style="cursor: pointer">
                                                        @agency.CompanyName
                                                    </a>
                                                </td>
                                                <td id="Acid_@agency.ID" class="ui-border-wo-topleft" align="center">@agency.AccountID</td>
                                                <td id="cty_@agency.ID" class="ui-border-wo-topleft" align="center">@agency.City</td>
                                                <td id="agtyp_@agency.ID" class="ui-border-wo-topleft" align="center">@agency.UserType</td>
                                                <td id="stat_@agency.ID" class="ui-border-wo-topleft" align="center">@agency.Active_Status</td>
                                                <td id="regdat_@agency.ID" class="ui-border-wo-topleft" align="center">@agency.EventTime</td>
                                                <td id="chklmt_@agency.ID" class="ui-border-wo-topleft" align="center">@agency.AvailableBalance</td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                else
                                {
                                    <tr style="width: 100%; height: 30px;" id="ct0">
                                        <td colspan="8" class="col-md-12 col-xs-12">
                                            <h5 class="text-center" style="color: Red;">No Record Found!</h5>
                                        </td>
                                    </tr>
                                }

                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>

                    <script type="text/javascript">
                        Sys.Application.add_load(LoadScript);
                    </script>


        </section>
    </div>
</div>

<script type="text/javascript">
    function LoadScript() {
        //   $(document).ready(function () {

        debugger;
        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var year = d.getFullYear();
        var dateNow = year + "-" + month + "-" + day;
        $(".datetopic").datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            //clearBtn: true,
            orientation: 'bottom',
            defaultDate: dateNow
        });

        // });
    }
    function chklimit(abc) {
        debugger;
        var yroom = 1, user = {}, ucpol = "";
        try {
            var dtta = abc.accessKey.split(",");
            user.msgQual = dtta[1];
            ucpol = $.ajax({ type: "POST", url: "SearchAgency.aspx/getagentbal", async: false, data: '{user: ' + JSON.stringify(user) + '}', contentType: "application/json; charset=utf-8", dataType: "json", success: function (response) { } });

            var totaldata1 = JSON.parse(ucpol.responseText).d.split(',');
            if (totaldata1 != "" && totaldata1 != null) {
                document.getElementById("Compnynm").innerHTML = dtta[0];
                document.getElementById("Accontiid").innerHTML = dtta[1];
                document.getElementById("Amnt").innerHTML = totaldata1[0];
                document.getElementById("cty").innerHTML = dtta[2];
                document.getElementById("agnttype").innerHTML = dtta[3];

                $("#myModal").modal('show');
            }
        }
        catch (e) {
        }
    }
    function modifycomp(abc) {
        debugger;
        var data = abc.accessKey.split(",")[1];
        location.href = "/agency/profile?value=" + btoa(data);
    }
</script>




<div class="modal fade" id="myModal" role="dialog" style="margin-top: 0%; pointer-events: none;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="pointer-events: auto; top:90px; ">
            <div class="modal-header" style="padding: 8px;">
                <p style="text-align: center; color: #fff; margin-bottom: 0px; font-size: 17px;">DETAIL</p>
                <button type="button" class="close uc ptpop" data-dismiss="modal" style="padding: 5px 10px 5px 10px !important;margin-top: 9.5%;margin-left: 75%;color: #fff;">&times;</button>
            </div>
            <div class="modal-body hg" style="padding: 0%;">

                <div class="panel-body panel-body1" style="border: 1px solid #fff;">
                    <span class="col-md-4 col-xs-4 offset-0">Company Name </span>
                    <span class="col-md-8 col-xs-8" id="Compnynm"></span>
                </div>

                <div class="panel-body panel-body1" style="border: 1px solid #fff;">
                    <span class="col-md-4 col-xs-4 offset-0">
                        Account Id
                    </span><span class="col-md-8 col-xs-8" id="Accontiid"></span>
                </div>

                <div class="panel-body panel-body1" style="border: 1px solid #fff;">
                    <span class="col-md-4 col-xs-4 offset-0">
                        Amount
                    </span><span class="col-md-8 col-xs-8" id="Amnt"></span>
                </div>
                <div class="panel-body panel-body1" style="border: 1px solid #fff;">
                    <span class="col-md-4 col-xs-4 offset-0">
                        City
                    </span><span class="col-md-8 col-xs-8" id="cty"></span>
                </div>

                <div class="panel-body panel-body1" style="border: 1px solid #fff;">
                    <span class="col-md-4 col-xs-4 offset-0">
                        Agent Type
                    </span><span class="col-md-8 col-xs-8" id="agnttype"></span>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="~/assets/js/registerAgency.js"></script>
<script src="~/assets/js/registration.js"></script>
<script src="~/assets/js/onlineformvalidationengine.js"></script>